.classesHero{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../public/classesHero.jpeg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/classesHero.jpeg");
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    margin-bottom: 30px;
}
.classesHeroContent{
    position: relative;
    z-index: 2;
    width: 70%;
    max-width: 1120px;
    text-align: center;
    padding-top: 0%;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    text-transform: none;
    color: #f5f5f5;
}
.classesContentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.classesContentHeading{
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
    color: #f5f5f5;
    font-weight: 600;
}
.classesMaxWidthWrap{
    width: 100%;
    max-width: 1120px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.classesContentActual{
    padding: 10px;
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #f5f5f5;
}
.classHeading{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 38px;
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}
.classPicture{
    width: 100%;
    height: 400px;
}
.one{
    background: url("../public/moto101.jpeg");
    background-size: cover;
    background-position: 60% 50%;
}
.two{
    background: url("../public/oilChange.jpeg");
    background-size: cover;
    background-position: 80% 50%;
}
.three{
    background: url("../public/forkRebuild.jpeg");
    background-size: cover;
    background-position: 80% 50%;
}
.four{
    background: url("../public/chain.jpeg");
    background-size: cover;
    background-position: 30% 50%;
}

