.hero{
    z-index: -2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, right top, color-stop(15%, #000), color-stop(50%, rgba(0, 0, 0, 0.5)), to(transparent)), url("../public/introbg.jpeg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(90deg, #000 15%, rgba(0, 0, 0, 0.5) 50%, transparent), url("../public/introbg.jpeg");
    background-position: 0px 0px, 0px 0px, 0% 50%;
    background-size: auto, auto, 120%;
    color: #fff;

}
.intro_cc{
    width: 64%;
    max-width: 1120px;
    text-align: center;
}
.heading_jumbo{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0%;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    text-transform: none;
}
.svheading{
    position: relative;
    z-index: 2;
    color: #f8c63c;
    font-size: 50px;
    line-height: 105px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .hero{
        background-size: cover;
        overflow-x: hidden;
        background-repeat: no-repeat;
        margin-bottom: 60px;
    }
    .heading_jumbo{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 0%;
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
        text-transform: none;
    }
    .svheading{
        position: relative;
        z-index: 2;
        color: #f8c63c;
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
    }
}
