.merchHero{
    position: relative;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.merchHeroText{
    position: relative;
    z-index: 2;
    width: 70%;
    max-width: 1120px;
    text-align: center;
    padding-top: 0%;
    font-size: 32px;
    line-height: 20px;
    font-weight: 500;
    text-transform: none;
    color: #f5f5f5;
}
.merchHeroBg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../public/merch.jpeg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/merch.jpeg");
    background-size: auto, cover;
    background-position: 50% 50%;
    background-repeat: repeat, no-repeat;
    filter: blur(11px);
}

.merchSection2{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph{
    display: block;
    color: #f5f5f5;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.highlight{
    color: #f8c63c;
}

@media only screen and (max-width: 600px) {
    .merchHero{
        height: calc(100vh - 200px);
    }
    .merchHeroBg{
        background-position: 50%;
    }
    .merchSection2{
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }
    .paragraph{
        margin-top: 0;
        margin-bottom: 0;
        color: #f5f5f5;
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        text-transform: none;
    }
}