.classesHero{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    margin-bottom: 50px;
}
.repair_hero{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../public/repair.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/repair.png");
}
.maintenance_hero{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../public/maintenance.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/maintenance.png");
    background-position: 50% 50%;
}
.customization_hero{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../public/custom.png");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/custom.png");
    background-position: 50% 50%;
}
.classesHeroContent{
    position: relative;
    z-index: 2;
    width: 70%;
    max-width: 1120px;
    text-align: center;
    padding-top: 0%;
    font-size: 26px;
    line-height: 40px;
    font-weight: 500;
    text-transform: none;
    color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
    .classes_Hero{
        background-size: cover;
        overflow-x: hidden;
        background-repeat: no-repeat;
        margin-bottom: 60px;
    }
    .classesHeroContent{
        width: 100%;
        font-weight: 500;
        text-transform: none;
        position: relative;
        z-index: 2;
        font-size: 24px;
        line-height: 30px;
        padding: 10px;
    }
}